.timer-container{
  border:1px solid red;
  padding:10px;
  width:50%;
  margin: 15px auto;
}

.timer-type {
  margin: 15px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.timer-type li {
  padding: 5px;
  border: 1px solid;
  
}

.timer-type li + li {
  margin-left: 5px;
}

.duration{
  text-align: center;
  font-size:25px;
}

.timer-command{
  margin: 15px 0;
  text-align: center;
}